<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Conversor de video</title>
 <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
 <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">
	<div class="row title-conversor">
		<h1>Conversor de video</h1>
	</div>
	<br/>
	<div class="row">
		<form id="form" action="/salvar" enctype="multipart/form-data" method="POST">
		  <div class="file-field input-field">
		    <div class="btn">
		      <span>File</span>
		      <input id="file" type="file" name="file" required="required" />
		    </div>
		    <div class="file-path-wrapper">
		      <input class="file-path validate" type="text"/>
		    </div>
		  </div>
		  <button id="converter-btn" type="submit" class="waves-effect waves-light btn">converter</button>
		</form>
	</div>	
	<div class="row">
		<button id="novo-btn" onclick="novoVideo()" type="submit" class="waves-effect waves-light btn" style="display:none;">Novo</button>
	</div>
	
	<br/>

		<div id="progress" class="progress" style="display: none;">
		    <div class="indeterminate" ></div>
		</div>
		<div id="videos">
		</div>
	
</div>	
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
	
	
</body>
</html>