<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Home</title>
</head>
<body>
	<h1>Hello world</h1>
	<br/>
	<form method="POST" enctype="multipart/form-data" action="/salvar">
		<table>
			<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
			<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
		</table>
	</form>
	<br/>
	<video width="320" height="240" controls>
	  <source th:src="${movie}" type="video/mp4"/>
<!-- 	  <source src="movie.ogg" type="video/ogg"> -->
		Your browser does not support the video tag.
	</video>
	
</body>
</html>